body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    margin-bottom:100px;
}
.nav{
    display:flex;
    background-color: #2874f0;
    color: white;
    padding: 20px;
}

.nav #hm{
    position: relative;
    left: 75%;
    
}
.nav #hm a{
    text-decoration: none;
    color: whitesmoke;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

h1 {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
}

th {
    background-color: #333;
    color: white;
    font-style: oblique;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.place_order_div{
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width:200px;
    color:#fff;
}
.place_order_div a{
    text-decoration: none;
    color:white;
}
